[user]
	name = Piotr Stolarz
[push]
	default = simple
[alias]
	br = branch
	st = status
	lg = log --oneline --decorate --graph
	co = checkout
	lso = ls-files -o
	reh = reset --hard
	gca = gc --prune=all
	gcaa = gc --prune=all --aggressive
	sm = submodule
	smu = submodule update --init --recursive
	rfc = reflog expire --expire=now --all
	fsr = fsck --no-reflog
