[user]
	name = Piotr Stolarz
	useConfigOnly = true
[push]
	default = simple
	autoSetupRemote = true
[core]
	editor = vi
[alias]
	adu = add --update
	br = branch
	bra = branch -avv
	ci = commit
	co = checkout
	di = diff
	dic = diff --cached
	fsr = fsck --no-reflog
	gca = gc --prune=all
	gcaa = gc --prune=all --aggressive
	lg = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%C(red)%d\\ %C(reset)%s\\ %C(blue)[%cn]" --decorate --date=short --graph
	lgg = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%C(red)%d\\ %C(reset)%s\\ %C(blue)[%cn]" --decorate --date=short --stat
	lso = ls-files -o
	reh = reset --hard
	rfc = reflog expire --expire=now --all
	sm = submodule
	smu = submodule update --init --recursive
	st = status
